.square--red {
  background-color: red;
  color: red;
}

.square--green {
  background-color: green;
  color: green;
}

.square--white {
  background-color: white;
  color: white;
}

.square--black {
  background-color: black;
  color: black;
}

.square--kebab {
  background-color: brown;
  color: brown;
}
